{% load static %}
{% load i18n %}

<div id="complaint" class="tab-pane fade">
    <div class="recent-complaint">
        <h4>Service Requests</h4>
        <div class="complaint-tabs">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a data-toggle="tab" href="#active-complaint" class="nav-link text-center active" aria-expanded="false"><i class="icofont icofont-flash"></i>
                        Active (3)</a></li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#resolved-complaint" class="nav-link text-center" aria-expanded="false"><i class="icofont icofont-history"></i>
                        Resolved (5)</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="active-complaint" class="tab-pane fade active show">
                <p><a href="#"><span>Ticket #FOOD94285:</span> My Order was failed but
                    ammount has been dedicted from my account.</a></p>
                <p><a href="#"><span>Ticket #FOOD94287:</span> My Order was failed but
                    ammount has been dedicted from my account.</a></p>
                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but
                    ammount has been dedicted from my account.</a></p>
            </div>
            <div id="resolved-complaint" class="tab-pane fade">
                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but
                    ammount has been dedicted from my account.</a></p>
                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but
                    ammount has been dedicted from my account.</a></p>
                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but
                    ammount has been dedicted from my account.</a></p>
                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but
                    ammount has been dedicted from my account.</a></p>
                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but
                    ammount has been dedicted from my account.</a></p>
            </div>
        </div>

        <h4 class="mt-5">New Requests</h4>
        <div class="submit-complaint">
            <form>
                <div class="form-row">
                    <div class="form-group col-12">
                        <input class="form-control" name="booking-id" placeholder="Booking Id E.g FOOD94285" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <input class="form-control" name="subject" placeholder="Subject" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <textarea class="form-control" rows="4" name="problem" placeholder="Your Issue"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 text-center mb-0">
                        <button class="btn btn-theme btn-md btn-wide" type="submit">
                            SUBMIT REQUEST
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>