{% load static %}
{% load i18n %}

<div id="history" class="tab-pane fade">
    <div class="item-entry">
        <span class="order-id">Order ID: FOOD94285</span>
        <div class="item-content">
            <div class="item-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center">
                        <img src="{% static 'assets/images/shop/01.jpg' %}" alt="Steam">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h4>Food Title Here
                            <span class="rating"><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i></span>
                        </h4>
                        <p class="des">Cursus / Dictum / Risus</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Maecenas non eleifend erat, vitae aliquam metus. Donec orci
                            tellus, rhoncus eget ipsum tempus, dignissim rutrum enim.
                            Integer interdum sapien nec tempus luctus.</p>
                    </div>
                    <div class="col-md-4 col-sm-3 text-right">
                        <p class="confirmed"><i class="icofont icofont-check"></i>Confirmed
                        </p>
                        <p><a class="btn btn-theme btn-md" href="#">Cancel</a></p>
                    </div>
                </div>
            </div>
            <div class="item-footer">
                <p><strong>Order Date:</strong> 20 Aug 2018<strong>Order Total:</strong>
                    $222</p>
            </div>
        </div>
    </div>
    <div class="item-entry">
        <span class="order-id">Order ID: FOOD94284</span>
        <div class="item-content">
            <div class="item-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center">
                        <img src="{% static 'assets/images/shop/01.jpg' %}" alt="Steam">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h4>Food Title Here
                            <span class="rating"><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i></span>
                        </h4>
                        <p class="des">Cursus / Dictum / Risus</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Maecenas non eleifend erat, vitae aliquam metus. Donec orci
                            tellus, rhoncus eget ipsum tempus, dignissim rutrum enim.
                            Integer interdum sapien nec tempus luctus.</p>
                    </div>
                    <div class="col-md-4 col-sm-3 text-right">
                        <p class="failed"><i class="icofont icofont-close"></i>Payment
                            Failed</p>
                    </div>
                </div>
            </div>
            <div class="item-footer">
                <p><strong>Order Date:</strong> 20 Aug 2018<strong>Order Total:</strong>
                    $222</p>
            </div>
        </div>
    </div>
    <div class="item-entry">
        <span class="order-id">Order ID: FOOD94285</span>
        <div class="item-content">
            <div class="item-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center">
                        <img src="{% static 'assets/images/shop/02.jpg' %}" alt="Steam">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h4>Food Title Here
                            <span class="rating"><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i></span>
                        </h4>
                        <p class="des">Cursus / Dictum / Risus</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Maecenas non eleifend erat, vitae aliquam metus. Donec orci
                            tellus, rhoncus eget ipsum tempus, dignissim rutrum enim.
                            Integer interdum sapien nec tempus luctus.</p>
                    </div>
                    <div class="col-md-4 col-sm-3 text-right">
                        <p class="confirmed"><i class="icofont icofont-check"></i>Completed
                        </p>
                        <p><a class="btn btn-theme btn-md" href="#">Submit Review</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item-footer">
                <p><strong>Order Date:</strong> 20 Aug 2018 <strong>Order
                    Total:</strong> $222</p>
            </div>
        </div>
    </div>
    <div class="text-center load-more">
        <a class="btn btn-theme btn-md btn-wide" href="#">LOAD MORE</a>
    </div>

</div>