{% load static %}
{% load i18n %}
<div id="overview" class="tab-pane fade active show">
    <div class="row">
        <div class="col-lg-6">
            <div class="brief-info">
                <div class="media">
                    <img class="mr-3" src="{% static 'assets/images/blog-detail/01.jpg' %}" alt="steam">
                    <div class="media-body">
                        <h4>Kapil</h4>
                        <p><i class="icofont icofont-envelope"></i> kapil@mywebsite.com
                        </p>
                        <p><i class="icofont icofont-phone"></i> +91 1234567890</p>
                        <p><i class="icofont icofont-location-pin"></i> Ahmedabad, INDIA
                        </p>
                    </div>
                </div>
                <div class="brief-info-footer">
                    <a href="#"><i class="icofont icofont-edit"></i>Edit Profile</a>
                </div>
            </div>

            <div class="most-recent-order">
                <h5>Recent Orders</h5>
                <div class="field-entry">
                    <div class="row">
                        <div class="col-5">
                            <p>Food Title Here</p>
                        </div>
                        <div class="col">
                            <p class="confirmed"><i class="icofont icofont-check"></i>Confirmed
                            </p>
                        </div>
                        <div class="col text-right">
                            <a href="#">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="field-entry">
                    <div class="row">
                        <div class="col-5">
                            <p>Food Title Here</p>
                        </div>
                        <div class="col">
                            <p class="failed"><i class="icofont icofont-close"></i>Failed
                            </p>
                        </div>
                        <div class="col text-right">
                            <a href="#">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="field-entry">
                    <div class="row">
                        <div class="col-5">
                            <p>Food Title Here</p>
                        </div>
                        <div class="col">
                            <p class="confirmed"><i class="icofont icofont-check"></i>Confirmed
                            </p>
                        </div>
                        <div class="col text-right">
                            <a href="#">Detail</a>
                        </div>
                    </div>
                </div>
                <div class="field-entry">
                    <div class="row">
                        <div class="col-5">
                            <p>Food Title Here</p>
                        </div>
                        <div class="col">
                            <p class="confirmed"><i class="icofont icofont-check"></i>Confirmed
                            </p>
                        </div>
                        <div class="col text-right">
                            <a href="#">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="user-profile-offer">
                <h5>Offers For You</h5>
                <div class="offer-body">
                    <div class="offer-entry">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 align-self-center offer-left text-center">
                                <p>25% OFF</p>
                            </div>
                            <div class="col-md-8 col-sm-8 offer-right">
                                <p>Get 25% OFF on Lunch when you pay with your Bank of
                                    America Credit Card. <a href="#">Book Now</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="offer-entry">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 align-self-center offer-left text-center">
                                <p>35% OFF</p>
                            </div>
                            <div class="col-md-8 col-sm-8 offer-right">
                                <p>Get 25% OFF on Dinner when you pay with your SBI
                                    Credit Card. <a href="#">Book Now</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="user-notification">
                <h5>Notification</h5>
                <div class="notification-body">
                    <div class="notification-entry">
                        <p><i class="icofont icofont-lunch"></i> Lunch Starting from
                            $199 <span>1 hr ago</span></p>
                    </div>
                    <div class="notification-entry">
                        <p><i class="icofont icofont-pizza"></i> 20% Cashback on Pizza
                            <span>1 hr ago</span></p>
                    </div>
                    <div class="notification-entry">
                        <p><i class="icofont icofont-food-cart"></i> 50% off on all
                            items <span>2 Days ago</span></p>
                    </div>
                    <div class="notification-entry">
                        <p><i class="icofont icofont-sun-alt"></i> New Year special
                            offer <span>1 Month ago</span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>