{% load static i18n humanize %}
<style>
    .waiting {
        color: #ff860d;
    }
</style>
<div id="overview" class="tab-pane fade active show">
    <div class="row">
        <div class="col-lg-12">
            <div class="brief-info">
                <div class="media">
                    <img class="mr-3" style="border-radius: unset;" src="{% static 'assets/images/blog-detail/user-img.png' %}" width="98" alt="steam">
                    <div class="media-body">
                        {% if user.fistname %}
                            <h4>{{ user.firstname }}{{ user.lastname }}</h4>
                        {% else %}
                            <h4>{{ user.username }}</h4>
                        {% endif %}
                        {% if user.email %}
                            <p><i class="icofont icofont-envelope"></i> {{ user.email }}</p>
                        {% endif %}
                        {% if user.profile %}
                            {% if user.profile.phone %}
                                <p><i class="icofont icofont-phone"></i> {{ user.profile.phone }}</p>
                            {% endif %}
                            {% if user.profile.address %}
                                <p><i class="icofont icofont-location-pin"></i> {{ user.profile.address }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="brief-info-footer">
                    <a class="nav-link" aria-expanded="false" href="#profile" data-toggle="tab"><i class="icofont icofont-edit"></i>{% trans 'Profili Düzenle' %}
                    </a>
                </div>
            </div>

            <div class="most-recent-order">
                <h5>{% trans 'Son Siparişler' %}</h5>
                <div id="accordion">
                    {% for order in user.profile.get_last_orders.all %}
                        <div class="field-entry">
                            <div class="row">


                                <div class="col-5">
                                    <a href="{% url 'company_menu' order.company.slug %}">{{ order.company }}</a>
                                </div>
                                <div class="col">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
                                        {{ order.ordered_at|naturaltime }}
                                    </button>
                                </div>
                                <div class="col text-right">
                                    {% if order.is_delivered %}
                                        <p class="confirmed" style="float: right">
                                            <i class="icofont icofont-check"></i>Teslim Edildi</p>
                                    {% elif order.is_on_the_way %}
                                        <p class="waiting"><i class="icofont icofont-foot-print"></i>Yolda</p>
                                        {# icofont icofont-scooter #}
                                    {% elif order.is_checked %}
                                        <p class="waiting"><i class="icofont icofont-food-basket"></i>Hazırlanıyor
                                        </p>
                                    {% elif order.is_deleted %}

                                        <p class="failed"><i class="icofont icofont-close"></i>İptal Edildi</p>
                                    {% else %}

                                        <p class="waiting"><i class="icofont icofont-ui-laoding"></i>Onay bekleniyor
                                        </p>
                                    {% endif %}
                                </div>
                                {#                                <div class="col text-right">#}
                                {#                                    <a href="#">Detail</a>#}
                                {#                                </div>#}
                            </div>
                            <div id="collapse{{ forloop.counter0 }}" class="collapse" aria-labelledby="heading{{ forloop.counter0 }}" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="field-entry">
                                        <div class="row">

                                            <div class="col-5">
                                                {% for item in order.order_list.all %}
                                                    <p>
                                                        {{ item.count }}x {{ item.entry.name|title }}
                                                    </p>
                                                {% endfor %}
                                            </div>


                                            <div class="col-5" style="float: right">
                                                {% if order.is_ordered %}
                                                    <p class="confirmed"><i class="icofont icofont-check"></i>Sipariş
                                                        edildi
                                                        ({{ order.ordered_at|naturaltime }})
                                                    </p>
                                                {% endif %}
                                                {% if order.is_checked %}
                                                    <p class="confirmed"><i class="icofont icofont-check"></i>Onaylandı
                                                        ({{ order.checked_at|naturaltime }})</p>
                                                {% endif %}
                                                {% if order.is_deleted %}
                                                    <p class="failed"><i class="icofont icofont-close"></i>İptal Edildi
                                                        ({{ order.checked_at|naturaltime }})</p>
                                                {% endif %}
                                                {% if order.is_on_the_way %}
                                                    <p class="confirmed"><i class="icofont icofont-check"></i>Yola Çıktı
                                                        ({{ order.on_the_way_at|naturaltime }})</p>
                                                {% endif %}
                                                {% if order.is_delivered %}
                                                    <p class="confirmed"><i class="icofont icofont-check"></i>Teslim
                                                        Edildi ({{ order.delivered_at|naturaltime }})</p>
                                                {% endif %}
                                            </div>
                                            <div class="col text-right">
                                                <p> Toplam: {{ order.get_borrow|floatformat }}₺</p>
                                                <p>({{ order.get_payment_type }})</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {##}
        {#        <div class="col-lg-6">#}
        {#            <div class="user-profile-offer">#}
        {#                <h5>Offers For You</h5>#}
        {#                <div class="offer-body">#}
        {#                    <div class="offer-entry">#}
        {#                        <div class="row">#}
        {#                            <div class="col-md-4 col-sm-4 align-self-center offer-left text-center">#}
        {#                                <p>25% OFF</p>#}
        {#                            </div>#}
        {#                            <div class="col-md-8 col-sm-8 offer-right">#}
        {#                                <p>Get 25% OFF on Lunch when you pay with your Bank of#}
        {#                                    America Credit Card. <a href="#">Book Now</a></p>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="offer-entry">#}
        {#                        <div class="row">#}
        {#                            <div class="col-md-4 col-sm-4 align-self-center offer-left text-center">#}
        {#                                <p>35% OFF</p>#}
        {#                            </div>#}
        {#                            <div class="col-md-8 col-sm-8 offer-right">#}
        {#                                <p>Get 25% OFF on Dinner when you pay with your SBI#}
        {#                                    Credit Card. <a href="#">Book Now</a></p>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="user-notification">#}
        {#                <h5>Notification</h5>#}
        {#                <div class="notification-body">#}
        {#                    <div class="notification-entry">#}
        {#                        <p><i class="icofont icofont-lunch"></i> Lunch Starting from#}
        {#                            $199 <span>1 hr ago</span></p>#}
        {#                    </div>#}
        {#                    <div class="notification-entry">#}
        {#                        <p><i class="icofont icofont-pizza"></i> 20% Cashback on Pizza#}
        {#                            <span>1 hr ago</span></p>#}
        {#                    </div>#}
        {#                    <div class="notification-entry">#}
        {#                        <p><i class="icofont icofont-food-cart"></i> 50% off on all#}
        {#                            items <span>2 Days ago</span></p>#}
        {#                    </div>#}
        {#                    <div class="notification-entry">#}
        {#                        <p><i class="icofont icofont-sun-alt"></i> New Year special#}
        {#                            offer <span>1 Month ago</span></p>#}
        {#                    </div>#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#    #}
    </div>
</div>