{% extends 'base/information_base.html' %}
{% load static i18n %}

{% block content-head %}{% trans 'Parolayı sıfırla' %}{% endblock %}
{% block content-desc %}{% trans 'Parolanız mail adresinize gönderildi.' %}{% endblock %}
{% block content-title %}{% trans 'Parola sıfırlama gönderildi' %}{% endblock %}
{% block content-message %}
    {% blocktrans %}
        Eğer girdiğiniz e-posta ile bir hesabınız varsa, parolanızın ayarlanması için size
        talimatları
        e-posta ile gönderdik. En kısa sürede almalısınız.

        Eğer bir e-posta almadıysanız, lütfen kayıt olurken girdiğiniz adresi kullandığınızdan emin
        olun
        ve istenmeyen mesajlar klasörünü kontrol edin.
    {% endblocktrans %}
{% endblock %}
