{% extends 'base/information_base.html' %}
{% load static i18n %}

{% block content-head %}{% trans 'Parolayı sıfırla' %}{% endblock %}
{% block content-desc %}{% trans 'Parolanızı sıfırlamak için aşağıdaki formu doldurun' %}{% endblock %}

{% block content-title %}{% trans 'Parolayı sıfırla' %}{% endblock %}
{% block content-message %}
    {% if validlink %}
        {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}

    {% else %}
        {% trans "Parola sıfırlama bağlantısı geçerli değil,Muhtemelen daha önce kullanılmış. Lütfen yeniden şifre sıfırlama bağlantısı isteyin." %}
    {% endif %}
{% endblock %}
{% block content-form %}
    {% if validlink %}
        <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <input style="display: none;" autocomplete="username" value="{{ form.user.username }}">
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">{% trans 'Yeni Parola:' %}</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list" class="form-control">
                </div>
                <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">{% trans 'Parola onayı:' %}</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="form-control">
                </div>
                <div class="form-group mb-0 pt-4 text-center">
                    <button class="btn btn-theme btn-md" type="submit">{% trans 'PAROLAMI DEĞİŞTİR' %}
                    </button>
                </div>

            </fieldset>
        </form>
    {% endif %}
{% endblock %}
