{% extends 'base/information_base.html' %}
{% load static i18n %}

{% block content-head %}{% trans 'Parolayı sıfırla' %}{% endblock %}
{% block content-desc %}
    {% trans 'Parolanızı mı unuttunuz? Aşağıya e-posta adresinizi girin ve yeni bir tane ayarlamak için talimatları e-posta ile gönderelim.' %}{% endblock %}
{% block content-title %}{% trans 'PAROLANI MI UNUTTUN ?' %}{% endblock %}
{% block content-message %}{% trans 'Eğer parolanı biliyorsan siparişini vermek için' %}
    <a href="{% url 'login' %}"> {% trans 'Giriş Yap' %} </a>{% endblock %}
{% block content-form %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <i class="icofont icofont-ui-message"></i><input type="text" name="{{ field.name }}" value="" placeholder="{{ field.label }}" id="{{ field.id_for_label }}" class="form-control"/>
            </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="{% trans 'parolamı sıfırla' %}" class="btn btn-theme btn-md btn-wide"/>
        </div>
    </form>
{% endblock %}