{% extends 'muglaSepeti/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <!-- Login Start -->
    <div class="login">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 commontop text-center">
                    <h4>{% trans 'Parolayı sıfırla' %}</h4>
                    <div class="divider style-1 center">
                        <span class="hr-simple left"></span>
                        <i class="icofont icofont-ui-press hr-icon"></i>
                        <span class="hr-simple right"></span>
                    </div>
                    <p>{% trans 'Parolanızı mı unuttunuz? Aşağıya e-posta adresinizi girin ve yeni bir tane ayarlamak için talimatları e-posta ile gönderelim.' %}</p>
                </div>

                <div class="col-sm-12 col-md-7 col-lg-6">
                    <div class="loginnow get-password">

                        <h5>{% trans 'PAROLANI MI UNUTTUN ?' %}</h5>
                        <p>{% trans 'Eğer parolanı biliyorsan siparişini vermek için  ' %}
                            <a href="{% url 'login' %}"> {% trans 'Giriş Yap' %} </a>
                        </p>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <i class="icofont icofont-ui-message"></i><input type="text" name="{{ field.name }}" value="" placeholder="{{ field.label }}" id="{{ field.id_for_label }}" class="form-control"/>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <input type="submit" value="{% trans 'parolamı sıfırla' %}" class="btn btn-theme btn-md btn-wide"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->
{% endblock %}