{% extends 'muglaSepeti/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Profil' %}{% endblock %}
{% block btitle %}{% trans 'Profil' %}{% endblock %}
{% block bheader %}{{ user.username }}{% endblock %}

{% block content %}

    <!-- Login Start -->
    <div class="dashboard">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 commontop text-center">
                    <h4>{% trans 'Kullanıcı Profili' %}</h4>
                    <div class="divider style-1 center">
                        <span class="hr-simple left"></span>
                        <i class="icofont icofont-ui-press hr-icon"></i>
                        <span class="hr-simple right"></span>
                    </div>
                    <p>{% trans 'Bu sayfada kişisel bilgilerinizi doldurup güncelleyebilirsiniz. ' %}</p>
                </div>
                <div class="col-lg-12 col-md-12 user-profile">
                    <div class="row">
                        <div class="col-md-3 col-lg-2">
                            <div class="user-profile-tabs">
                                <!--  Menu Tabs Start  -->
                                <ul class="nav nav-tabs flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#overview" aria-expanded="true">
                                            <i class="icofont icofont-dashboard-web"></i>
                                            <span>Overview</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#profile" aria-expanded="true">
                                            <i class="icofont icofont-ui-user"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" data-toggle="tab" href="#history" aria-expanded="true">#}
{#                                            <i class="icofont icofont-history"></i>#}
{#                                            <span>History</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" data-toggle="tab" href="#cards" aria-expanded="true">#}
{#                                            <i class="icofont icofont-credit-card"></i>#}
{#                                            <span>My Card</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" data-toggle="tab" href="#complaint" aria-expanded="true">#}
{#                                            <i class="icofont icofont-support-faq"></i>#}
{#                                            <span>Complaint</span>#}
{#                                        </a>#}
{#                                    </li>#}

                                </ul>
                                <!--  Menu Tabs Start  -->
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-10">
                            <div class="tab-content">
                                {% include 'profile/overview_profile.html' %}
                                {% include 'profile/edit_profile.html' %}
                                {% include 'profile/history_profile.html' %}
{#                                {% include 'profile/cards_profile.html' %}#}
{#                                {% include 'profile/complaint_profile.html' %}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->


{% endblock %}