{% load static i18n %}
<!-- Footer Start -->
<footer>
    <div class="container">
        <div class="row inner">
            <div class="col-sm-6 col-md-6 col-lg-3" style="margin: auto">
                <!-- Footer Widget Start -->
                <h5>{% trans 'İLETİŞİM' %}</h5>
                <ul class="list-unstyled contact">
                    {% if config.address %}
                        <li><i class="icofont icofont-social-google-map"></i>{{ config.address }}</li>
                    {% endif %}
                    {% if config.phone %}
                        <li><a href="tel:{{ config.phone }}"><i class="icofont icofont-phone"></i>{{ config.phone }}</a></li>
                    {% endif %}
                    {% if config.email %}
                        <li>
                            <a href="mailto:{{ config.email }}"><i class="icofont icofont-ui-message"></i>{{ config.email }}
                            </a></li>
                    {% endif %}
                </ul>
                <!-- Footer Widget End -->
            </div>
            {#            <div class="col-sm-6 col-md-6 col-lg-3">#}
            {#                <!-- Footer Widget Start -->#}
            {#                <h5>Information</h5>#}
            {#                <ul class="list-unstyled">#}
            {#                    <li><a href="#">{% trans 'Hakkımızda' %}</a></li>#}
            {#                    <li><a href="#">{% trans 'Servis Hakkında' %}</a></li>#}
            {#                    <li><a href="#">{% trans 'İletişim' %}</a></li>#}
            {#                    <li><a href="#">{% trans 'Kullanım Talimatları' %}</a></li>#}
            {#                    <li><a href="#">{% trans 'Site haritası' %}</a></li>#}
            {#                </ul>#}
            {#                <!-- Footer Widget End -->#}
            {#            </div>#}
            {#            <div class="w-100 d-none d-xs-block"></div>#}
            {#            <div class="col-sm-6 col-md-6 col-lg-3">#}
            {#                <!-- Footer Widget Start -->#}
            {#                <h5>Open Hours</h5>#}
            {#                <ul class="list-unstyled">#}
            {#                    <li>Monday - Friday : 9 am to 12 am.</li>#}
            {#                    <li>Saturday - Sunday : 24 Hour Open</li>#}
            {#                    <li>Breakfast : 7 am to 12 pm</li>#}
            {#                    <li>Lunch : 12 pm to 7 pm</li>#}
            {#                    <li>Dinner : 7 am to 12 am</li>#}
            {#                </ul>#}
            {#                <!-- Footer Widget End -->#}
            {#            </div>#}
            {#                <div class="col-sm-6 col-md-6 col-lg-3">#}
            {#                    <!-- Footer Widget Start -->#}
            {#                    <h5>Instagram</h5>#}
            {#                    <ul class="list-unstyled insta">#}
            {#                        <li><a href="#"><img src="{% static 'assets/images/instagram/1.jpg' %}" alt="image"/></a></li>#}
            {#                        <li><a href="#"><img src="{% static 'assets/images/instagram/2.jpg' %}" alt="image"/></a></li>#}
            {#                        <li><a href="#"><img src="{% static 'assets/images/instagram/3.jpg' %}" alt="image"/></a></li>#}
            {#                        <li><a href="#"><img src="{% static 'assets/images/instagram/4.jpg' %}" alt="image"/></a></li>#}
            {#                        <li><a href="#"><img src="{% static 'assets/images/instagram/5.jpg' %}" alt="image"/></a></li>#}
            {#                        <li><a href="#"><img src="{% static 'assets/images/instagram/6.jpg' %}" alt="image"/></a></li>#}
            {#                    </ul>#}
            {#                    <!-- Footer Widget End -->#}
            {#                </div>#}
        </div>

    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row powered">
                <!--  Copyright Start -->
                {#                    200x56 #}
                {% if config.footer_logo or config.logo %}
                    <div class="col-md-3 col-sm-6 order-md-1">
                        {% if config.footer_logo %}
                            <img src="{{ config.footer_logo.url }}" height="80" class="img-fluid" title="logo" style="max-width:400px;max-height: 56px;"
                                 alt="logo">
                        {% elif config.logo %}
                            <img src="{{ config.logo.url }}"  height="80" class="img-fluid" title="logo" style="max-width:400px;max-height: 56px;"
                                 alt="logo">
                        {% endif %}
                    </div>
                {% endif %}
                {#            #}
                <div class="col-md-3 col-sm-6 text-right order-md-3">
                    <!--  Footer Social Start -->
                    <ul class="list-inline social">
                        {% if config.facebook %}
                            <li class="list-inline-item"><a href="{{ config.facebook }}"
                                                            target="_blank"><i
                                    class="icofont icofont-social-facebook"></i></a></li>
                        {% endif %}
                        {% if config.twitter %}
                            <li class="list-inline-item"><a href="{{ config.twitter }}" target="_blank"><i
                                    class="icofont icofont-social-twitter"></i></a></li>
                        {% endif %}
                        {% if config.googleplus %}
                            <li class="list-inline-item"><a href="{{ config.googleplus }}" target="_blank"><i
                                    class="icofont icofont-social-google-plus"></i></a></li>
                        {% endif %}
                        {% if config.pinterest %}
                            <li class="list-inline-item"><a href="{{ config.pinterest }}" target="_blank"><i
                                    class="icofont icofont-social-pinterest"></i></a></li>
                        {% endif %}
                        {% if config.instagram %}
                            <li class="list-inline-item"><a href="{{ config.instagram }}" target="_blank"><i
                                    class="icofont icofont-social-instagram"></i></a></li>
                        {% endif %}
                        {% if config.youtube %}
                            <li class="list-inline-item"><a href="{{ config.youtube }}" target="_blank"><i
                                    class="icofont icofont-social-youtube-play"></i></a>
                            </li>
                        {% endif %}

                    </ul>
                    <!--  Footer Social End -->
                </div>
                <div class="col-md-6 col-sm-12 text-center order-md-2">
                    <p>Copyright © <span>Muğla Sepeti</span> 2020. All Rights Reserved.</p>
                </div>
                <!--  Copyright End -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer End  -->