{% extends 'admin/change_list.html' %}
{% block title %}
{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>
        var append_increment = 0;
        setInterval(function () {
            $.ajax({
                type: "GET",
                url: '{% url 'admin:muglaSepetiApp_bucket_changelist' %}', // URL to your view that serves new info
                data: {'append_increment': append_increment}
            })
                .done(function (response) {
                    var success = $($.parseHTML(response)).find('#result_list');
                    var paginator = $($.parseHTML(response)).find('.paginator');
                    var counter = $($.parseHTML(response)).find('.action-counter');
                    $('#result_list').replaceWith(success);
                    $('.paginator').replaceWith(paginator);
                    $('.counter').replaceWith(counter);
                    append_increment += 10;
                    console.log("data:", success.toString())
                });
        }, 30000)
    </script>
{% endblock %}