{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Sepetim' %}{% endblock %}
{% block btitle %}{% trans 'Sepetim' %}{% endblock %}
{#{% block bheader %}{% trans 'Sepetim' %}{% endblock %}#}

{% block content %}
    <style>
        a.anchor {
            color: black;
        }

        .box .image {
            float: left;
        }

        .box {
            border: 1px solid #E5E5E5;
            margin-bottom: 30px;
            background: #fff;
        }

        .box .caption h4 {
            font-size: 16px;
            font-weight: 600;
            color: #e54c2a;
            margin: 0 0 4px;
        }

        .box .caption {
            position: relative;
            border-left: 1px solid #E5E5E5;
            margin-left: 130px;
            padding: 19px 90px 19px 15px;
            min-height: 135px;
        }

        .box .caption .des {
            font-size: 13px;
            font-weight: 600;
            color: #000;
            margin: 0;
            line-height: 20px;
        }

        .box .caption .price {
            font-size: 18px;
            font-weight: 600;
            color: #e54c2a;
            position: absolute;
            right: 15px;
            top: 18px;
        }

        @media (max-width: 767px) {
            .box .image {
                float: none;
                display: block;
                text-align: center;
                padding: 10px 0;
            }

            .box .caption .price {
                position: static;
                text-align: center;
                margin-top: 10px;
            }

            .box .caption {
                margin-left: 0;
                padding: 15px;
                text-align: center;
            }

            .box .caption .des {
                font-size: 14px;
            }
        }

        @media (max-width: 992px) {
            .box .caption {
            {#padding-right: 75px;#}
            }


            .box .caption .des {
                font-size: 10px;
            }
        }

        @media (max-width: 1200px) {
            .box .caption .des {
                font-size: 12px;
            }


            .box .caption .price {
                font-size: 17px;
            }
        }

        #tab-cart button {
            background: none;
            border: none;
            box-shadow: none;
            font-size: 20px;
            cursor: pointer;
            top: 0px;
            position: absolute;
            right: 20px;
        }

        #tab-cart h2 {

            font-size: 14px;
            font-weight: 600;
            color: #757575;
            margin: 0 0 15px;
            margin-left: 10px;
        }

        #tab-cart h2 span {
            color: #e54c2a;
        }
    </style>
    <!-- Cart Start  -->
    <div class="mycart">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a id="link_bucket" class="nav-link active" href="#tab-cart" data-toggle="tab"><span>1</span>{% trans 'ALISVERİŞ SEPETİ' %}
                            </a></li>
                        <li class="nav-item" style="margin-left: auto;">
                            <a id="link_info" class="nav-link {% ifequal user.profile.get_bucket.order_list.count 0 %} disabled {% endifequal %}"
                                    {% ifnotequal user.profile.get_bucket.order_list.count 0 %} href="#tab-info" {% endifnotequal %} data-toggle="tab"><span>2</span>{% trans 'ALIŞVERİŞ BİLGİLERİ' %}
                            </a></li>
                        {% if not  user.first_name and user.last_name %}
                            <script>
                                console.log("True")
                            </script>
                        {% else %}
                            <script>
                                console.log("False")
                            </script>
                        {% endif %}
                        <li class="nav-item">
                            <a id="link_payment" class="nav-link

                                    {% if not user.first_name and user.last_name %}disabled {% else %} {% ifequal user.profile.get_bucket.order_list.count 0 %} disabled{% endifequal %} {% endif %}"
                                    {% if  user.first_name and user.last_name %}
                                        {% ifnotequal user.profile.get_bucket.order_list.count 0 %} href="#tab-payment"
                                        {% endifnotequal %}{% endif %} data-toggle="tab"><span>3</span>{% trans 'ÖDEME' %}
                            </a></li>
                    </ul>
                    <div class="bor"></div>
                    <div class="tab-content border" style="padding: 15px 15px;">
                        <div class="tab-pane show active" id="tab-cart">

                            <div class="row">
                                <h2 style="padding-left: 20px;">Sepetinizde
                                    <span>{{ user.profile.get_bucket.order_list.count }} adet </span>sipariş
                                    var</h2>
                                {% for item in user.profile.get_bucket.order_list.all %}
                                    <div class="col-md-12 col-12">
                                        <!-- Box Start -->
                                        <div class="box">
                                            <button type="button">
                                                <a class="anchor" href="{% url 'cart_delete' user.profile.get_bucket.pk item.pk %}"><i class="icofont icofont-close-line"></i></a>
                                            </button>
                                            <div class="image" style="padding-top: 3px;">

                                                <img src="{{ item.entry.image.url }}" alt="image" title="image" width="130" height="130" style="object-fit: fill;">

                                            </div>

                                            <div class="caption">

                                                <h4>{{ item.entry.name }}</h4>
                                                {% for collation in item.collation.collation_list.all %}

                                                    <label>
                                                        {{ collation.collation.name }}
                                                        <input class="radio-inline" type="checkbox" {% if collation.is_already_added %}checked {% endif %}/>
                                                    </label>
                                                {% empty %}
                                                    <p>Aperatif yok</p>
                                                {% endfor %}

                                                <div class="text-center"><p class="qtypara" style="margin: auto;">
                                                    <span class="minus"><a class="anchor" href="{% url 'cart_minus' user.profile.get_bucket.pk item.pk %}"> <i class="icofont icofont-minus"></i></a></span>
                                                    <input type="text" readonly="true" name="quantity" value="{{ item.count }}" size="2" id="input-quantity1" class="form-control qty"/>
                                                    <span class="add"><a class="anchor" href="{% url 'cart_add' user.profile.get_bucket.pk item.pk %}"><i class="icofont icofont-plus"></i></a></span>
                                                </p>
                                                </div>

                                                <div class="price" style="top: unset;bottom: 50px;">
                                                    <p style="margin-top: 1rem;margin-bottom: 0;">{{ item.entry.price|floatformat }}₺</p>
                                                </div>
                                            </div>


                                        </div>
                                        <!-- Box End -->
                                    </div>
                                {% empty %}
                                    <div class="text-center" style="margin:auto">
                                        <p>{% trans 'Sepetiniz boş, sipariş vermek için restoranlar sekmesindeki restoranlardan yemek seçin' %}</p>
                                    </div>

                                {% endfor %}
                                {% if user.profile.get_bucket %}

                                    <div class="col-12">
                                        {% ifnotequal user.profile.get_bucket.order_list.count 0 %}
                                            <h3 class="text-right">Toplam
                                                - {{ user.profile.get_bucket.get_borrow|floatformat }}₺</h3>
                                        {% endifnotequal %}
                                        <div class="buttons float-left">
                                            <a href="


















                                                    {% if user.profile.get_bucket.company %}{% url 'company_menu' user.profile.get_bucket.company.slug %} {% else %}{% url 'companies' %}{% endif %}" class="btn btn-theme btn-md btn-wide">{% trans 'GERİ DÖN' %}</a>
                                        </div>
                                        <div class="buttons float-right">
                                            <style>a.white {
                                                color: white
                                            }</style>
                                            <a
                                                    {% ifnotequal user.profile.get_bucket.order_list.count 0 %}  onclick="document.getElementById('link_info').click();"   {% endifnotequal %} data-toggle="tab" class="btn btn-theme btn-md btn-wide white {% ifequal user.profile.get_bucket.order_list.count 0 %} disabled {% endifequal %}">{% trans 'Onayla' %}</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            </form>
                        </div>
                        <div class="tab-pane col-md-12 col-12" id="tab-info">
                            <div class="row">
                                <div class="col-lg-5 col-md-6 col-12">
                                    <h4>{% trans 'Sipariş Adresi' %}</h4>
                                    Adres adı : {{ user.profile.address }}<br>
                                    Adres konumu : {{ user.profile.address.location }}<br>

                                </div>

                                <div class="col-lg-5 col-md-6 col-12">

                                    <h4>{% trans 'irtibat bilgileri' %}</h4>

                                    {% if user.first_name and user.last_name %}
                                        <label> Teslim alacak kişi :</label>{{ user.first_name }}
                                        {{ user.last_name }}{% else %}
                                        {% trans 'Lütfen kullanıcı adınızı soyadınızı profil bölümünden doldurun' %}{% endif %}
                                    <br>
                                    <label>İrtibat numarası : </label>{{ user.profile.phone }}<br>
                                </div>
                                <div class="col-lg-5 col-md-6 col-12">
                                </div>
                                <div class="col-md-12 col-12 text-center">

                                    <div class="buttons float-right">
                                        {#                                        <a href="#tab-cart" data-toggle="tab" class="btn btn-theme btn-md btn-wide">Geri</a>#}

                                        {% if user.first_name and user.last_name %}
                                            <a
                                                    {% ifnotequal user.profile.get_bucket.order_list.count 0 %}  onclick="document.getElementById('link_payment').click();"   {% endifnotequal %} data-toggle="tab" class="btn btn-theme btn-md btn-wide white {% ifequal user.profile.get_bucket.order_list.count 0 %} disabled {% endifequal %}">Onayla</a>
                                        {% else %}
                                            <a class="btn btn-theme btn-md btn-wide white" href="{% url 'profile' %}">{% trans 'Profile Git' %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane col-md-12 col-12" id="tab-payment">
                            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'order' user.profile.get_bucket.pk %}">
                                {% csrf_token %}
                                <fieldset>

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="payment_type">Ödeme Yöntemi</label>
                                            <select id="payment_type" name="payment_type" class="form-control" style="color: #000000;">
                                                <option value="N" selected>Nakit</option>
                                                <option value="K">Kredi Kartı</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            {#                                            <input class="form-control" id="input-expiry" placeholder="Sipariş Notu" value="" name="order_note" required="" type="text">#}
                                            <textarea class="form-control" style="height: 150px;color: #000000" placeholder="Sipariş Notu" name="order_note"></textarea>

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12 col-12 text-center">
                                            <div class="buttons">
                                                {#                                                <a href="#tab-info" data-toggle="tab" class="btn btn-theme btn-md btn-wide">Geri</a>#}

                                                <input type="submit" class="btn btn-theme btn-md btn-wide" value="{% trans 'SİPARİŞ ET' %}">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End  -->
{% endblock %}