{% extends 'base/base.html' %}
{% load static i18n templatetags humanize %}

{% block content %}
    <!-- Shop Start -->
    <style>
        @media (max-width: 767px) {
            .image {
                float: none;
                display: block;
                text-align: center;
            {#padding: 10px 0;#}
            }
        }
    </style>
    <div class="shop">
        <div class="container">
            <div class="row">


                <div class="col-md-9">
                    <div class="row shopdetail">
                        <div class="col-sm-5 col-12">
                            <div class="image">
                                {% if entry.image %}
                                    <img src="{{ entry.image.url }}" title="thumb image" alt="thumb image" class="img-fluid"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-7 col-12">
                            <h2>{{ entry.name }}</h2>
                            <div class="rating">
                                {% for star in ""|ljust:entry.get_food_rating %}
                                    <i class="icofont icofont-star"></i>
                                {% endfor %}
                                {% for star in ""|ljusts:entry.get_food_rating %}
                                    <i class="icofont icofont-star disabled"></i>
                                {% endfor %}
                            </div>
                            <div class="price">{{ entry.price|floatformat }}₺</div>
                            {#                            <p class="des">Cursus / Dictum / Risus</p>#}
                            <p class="shortdes" style="background-color: white">{{ entry.detail }}</p>
                            <div class="food">
                            </div>
                            <div class="common">

                                {% if user.is_authenticated %}
                                    <form method="post" action="{% url 'order_food' %}">
                                        {% csrf_token %}
                                        <p class="qtypara float-left">
                                            <span id="minus1" class="minus minus2"><i class="icofont icofont-minus"></i></span>
                                            <input type="text" name="quantity" value="1" size="2" id="input-quantity1" class="form-control qty">
                                            <span id="add1" class="add add2"><i class="icofont icofont-plus"></i></span>
                                            <input type="hidden" name="entry_id" value="{{ entry.id }}">
                                        </p>
                                        <div class="buttons">
                                            <input type="submit" name="order_now" class="btn btn-theme-alt btn-md" value="{% trans 'SİPARİŞ ET' %}">
                                            <input type="submit" name="add_to_cart" class="btn btn-theme-alt btn-md" value="{% trans 'SEPETE EKLE' %}">
                                        </div>

                                    </form>
                                {% else %}
                                    <p>
                                        Sipariş vermek için giriş yapmalısınız.
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-sm-12 col-12">
                            <ul class="nav nav-tabs">

                                <li class="nav-item">
                                    <a class="nav-link active" href="#tab-review" data-toggle="tab">{% trans 'Yorumlar' %}
                                        ({{ entry.get_comments.count }})</a></li>
                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane active" id="tab-review" style="background-color:white;">
                                    {% for comment in entry.get_comments %}
                                        <div class="box">
                                            <img src="{% static 'assets/images/blog-detail/user-img.png' %}" alt="image" width="98" title="image"  class="img-fluid"/>

                                            <div class="detail">
                                                <h2>{{ comment.owner.first_name|hiddenowner }} {{ comment.owner.last_name|hiddenowner }}</h2>
                                                <span>{{ comment.time|naturaltime|title }}</span>
                                                <div class="rating">
                                                    {% for i in ""|ljust:comment.get_rating_value %}
                                                        <i class="icofont icofont-star"></i>
                                                    {% endfor %}
                                                    {% for i in ""|ljusts:comment.get_rating_value %}
                                                        <i class="icofont icofont-star disabled"></i>
                                                    {% endfor %}
                                                </div>
                                                {% if comment.comment %}
                                                    <p>{{ comment.comment }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% empty %}
                                        <p>{% trans 'Bu ürün hakkında hiç bir yorum bulunmamaktadır' %}</p>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Shop End -->
{% endblock %}