{% extends 'base/base.html' %}
{% load static i18n templatetags %}
{% block breadcumb %}{% endblock %}
{% block title %}{% trans 'Ana Sayfa' %}{% endblock %}
{# TODO index düzenlenecek #}
{% block content %}
    <div class="wrapper">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Slider Start -->
        {% if config.slider_image_1 or config.slider_image_2 or config.slider_image_3 or config.slider_image_4 %}
            <div class="slide">
                <div class="slideshow owl-carousel">
                    <!-- Slider Backround Image Start -->
                    {% if config.slider_image_1 %}
                        <div class="item">
                            <img src="{{ config.slider_image_1.url }}" width="1920" height="1080" alt="banner" title="banner" class="img-fluid"/>
                        </div>
                    {% endif %}
                    {% if config.slider_image_2 %}
                        <div class="item">
                            <img src="{{ config.slider_image_2.url }}" width="1920" height="1080" alt="banner" title="banner" class="img-fluid"/>
                        </div>
                    {% endif %}
                    {% if config.slider_image_3 %}
                        <div class="item">
                            <img src="{{ config.slider_image_3.url }}" width="1920" height="1080" alt="banner" title="banner" class="img-fluid"/>
                        </div>
                    {% endif %}
                    {% if config.slider_image_4 %}
                        <div class="item">
                            <img src="{{ config.slider_image_4.url }}" width="1920" height="1080" alt="banner" title="banner" class="img-fluid"/>
                        </div>
                    {% endif %}
                    <!-- Slider Backround Image End -->
                </div>
                {% if config.slider_title or config.slider_description %}
                    <!-- Slide Detail Start  -->
                    <div class="slide-detail">
                        <div class="container">
                            {% if config.logo %}
                                <img src="{{ config.logo.url }}" width="160" height="160" alt="logo1" title="logo1" class="img-fluid"/>
                            {% endif %}
                            {% if config.slider_title %}
                                <h4>{{ config.slider_title }}</h4>
                            {% endif %}
                            {% if config.slider_description %}
                                <p>{{ config.slider_description }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Slide Detail End  -->
                {% endif %}
            </div>
        {% endif %}
        <!-- Slider End  -->

        <!-- Order Start  -->
        {% if config.order_background %}
            <style>
                .order {
                {#../images/background/order-bg-bottom.jpg#} background: #f6f6f6 url({{ config.order_background }}) no-repeat center bottom;
                }
            </style>
        {% endif %}
        <div class="order">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Title Content Start -->
                    <div class="col-sm-12 commontop text-center">
                        <h4>Sipariş ver Kapına gelsin</h4>
                        <div class="divider style-1 center">
                            <span class="hr-simple left"></span>
                            <i class="icofont icofont-ui-press hr-icon"></i>
                            <span class="hr-simple right"></span>
                        </div>
                        {% if config.site_description %}
                            <p>{{ config.site_description }}</p>
                        {% endif %}
                    </div>
                    <!-- Title Content End -->
                    <div class="col-lg-7 col-sm-12">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <i class="icofont icofont-fast-food"></i>
                                <p>Yemeğini Seç</p>
                            </li>
                            <li class="list-inline-item">
                                <i class="icofont icofont-food-basket"></i>
                                <p>Sipariş Ver</p>
                            </li>
                            <li class="list-inline-item">
                                <i class="icofont icofont-fast-delivery"></i>
                                <p>Kapına Gelsin</p>
                            </li>
                        </ul>
                        <img src="{% static 'assets/images/lines.png' %}" alt="line" title="line" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Order End  -->

        <!-- Popular Dishes Start -->
        <div class="dishes">
            <div class="container">
                <div class="row">
                    <!-- Title Content Start -->
                    <div class="col-sm-12 commontop text-center">
                        <h4>{% trans 'Restoranlar' %}</h4>
                        <div class="divider style-1 center">
                            <span class="hr-simple left"></span>
                            <i class="icofont icofont-ui-press hr-icon"></i>
                            <span class="hr-simple right"></span>
                        </div>
                        {% if config.content_description %}
                            <p>{{ config.content_description }}</p>
                        {% endif %}
                    </div>
                    <!-- Title Content End -->
                    <style>
                        div.owl-stage {
                            margin: auto;
                        }
                    </style>
                    <div class="col-sm-12">
                        <div class="dish owl-carousel">
                            {% for item in companies %}
                                <div class="item">
                                    <!-- Box Start -->
                                    <div class="box">
                                        {% if item.logo %}
                                            <a href="{% url 'company_menu' item.slug %}"><img src="{{ item.logo.url }}" width="370" height="280" alt="image" title="image" class="img-fluid"/></a>
                                        {% endif %}
                                        <div class="caption">
                                            <h4>{{ item.name }}</h4>
                                            <span>{{ item.description }}</span>
                                            {#                                            <p>#}
                                            {#                                            <div class="rating">#}
                                            {#                                                {% for i in ""|ljust:item.get_food_rating %}#}
                                            {#                                                    <i class="icofont icofont-star"></i>#}
                                            {#                                                {% endfor %}#}
                                            {#                                                {% for i in ""|ljusts:entry.get_food_rating %}#}
                                            {#                                                    <i class="icofont icofont-star disabled"></i>#}
                                            {#                                                {% endfor %}#}
                                            {#                                            </div>#}
                                            {#                                            </p>#}
                                        </div>
                                    </div>
                                    <!-- Box End -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Popular Dishes End -->


    </div>
{% endblock %}