
table {
    display: table;
    width: 100%;
    /*height: 400px; !* for demo only *!*/
    border: 1px dotted blue;
}

td, th {
    padding: 10px;
    /*border: 1px dashed gray;*/
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

a:link, a:visited {
    color: black;
}


.green {
    background: #CDEAC0;

}

.yellow {
    background: #EFE9AE;

}

.orange {
    background: #FEC3A6;
}


.red {
    background: #FF928B;

}

.brown {
    background: #FFAC81;
}

a.btn-chck {

    background: green;
}

a.btn-cancel {
    background: red;
}

a.btn-prepare {
    background: orangered;
    justify-self: center;
    margin: auto;
}
a.btn-delivered{
    background: saddlebrown;
}

a.button {
    padding: 5px 20px;
    width: 100%;
    margin: 10px 5px;
    text-transform: uppercase;
    font-weight: bold;

    color: white;
}